*{
    padding: 0;
    margin: 0;
    border: 0;
}

body{
    margin: 4px
}

h1{
    text-align: center;
    color:brown;
}
div{
    display: inline-block;
    padding-top: 50px;
    margin-right: 100px;
}
.info, .imagen{
    vertical-align: middle;
}
#conWidth{
    width: 20px;
    display: inline-block;
}

img{
    width: 180px;
    margin-left: 500px;
    margin-top: 0;
    display: block;
}

p {
    font-size:xx-large;
}

section{
    padding-top: 10px;
    display: inline-block;
    margin-left: 100px;
}

